/* START.HTML */

:root {
	--selectorColor: rgba(255,255,255,1);
}

.start-text {
	font-family: "Roboto", sans-serif;
	align-self: center;
}

.start-input {
	position: fixed;
	width: 320px;
	height: 54px;
	background-color: #E6E6E6;
	align-self: center;
	margin-top: 115px;
	margin-left: 20px;
	border-radius: 18px 0px 0px 18px;
	border: none;
	outline: none;
	font-family: "Roboto", sans-serif;
	font-weight: 100;
	font-size: 24px;
	padding-left: 15px;
}

.start-input:focus {
	outline: none;
}

.loginbox {
	display: grid;
 	height: 500px;
 	width: 600px;
 	align-items: center;
 	grid-auto-columns: 1fr;
 	grid-template-columns: 1fr 3fr;
}

#useravatardiv {
	display: grid;
	width: 100%;
	height: 100%;
	grid-row: 1;
}

#avatar {
	background: red;
	border:2px solid darkred; 
	height: 128px;
	width: 128px;
	border-radius: 100%;
	align-self: center;
	margin-left: 50px;
	display: flex;
    justify-content: center;
    align-items: center;
	color: rgba(255,255,255,0);
	transition-duration: 0.3s;
}

#avatar:hover {
	color: var(--selectorColor);
}

#usernamediv {
	display: grid;
	width: 100%;
	height: 100%;
	grid-row: 1;
}

.enterusername {
	position: fixed;
	font-size: 18px;
	font-weight: 100;
	margin-top: 20px;
	margin-left: 22px;
}

#sendbox {
	display: grid;
	position: fixed;
	background-color: #DADADA;
	width: 80px;
	height: 54px;
	margin-left: 340px;
	margin-top: 115px;
	align-self: center;
	border-radius: 0px 18px 18px 0px;
}

.hello {
	font-size: 72px;
	font-weight: bold;
	margin-bottom: 60px;
	margin-left: 20px;
}

.editbutton {
	font-size: 32px;
}